/* Style pour les boutons 'Modifier' et 'Supprimer' de admin_prestations */
.prestation-actions,
.prestation-actions .save-edit-button,
.prestation-actions .cancel-edit-button {
	flex-direction: row !important;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

/* Style pour le titre du conteneur pour la création de prestation */
.creation-container h4 {
	font-family: 'DM Serif Display', serif;
	font-size: 1.5em;
	margin-bottom: 20px;
	text-align: center;
	color: var(--writing-dark);
}


/* ##### Code responsive ##### */
@media (max-width: 768px) {
	.prestation-actions {
		flex-direction: column !important;
		align-items: stretch;
	}
	.prestation-actions button {
		width: 100%;
		margin-bottom: 5px;
	}
}
