/* Style pour le conteneur */
#section-create-user .create-user-container {
	max-width: 700px;
	margin: 30px auto;
	padding: 25px;
	background-color: var(--background-card);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour le titre */
#section-create-user h4 {
	font-family: 'DM Serif Display', serif;
	font-size: 1.5em;
	margin-bottom: 20px;
	text-align: center;
	color: var(--writing-dark);
}

/* Style pour le conteneur des champs */
#section-create-user .creation-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
	width: 100%;
}

/* Style pour le bouton 'Créer' */
#create-user-button {
	width: 30%;
	padding: 12px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-family: 'Lexend', sans-serif;
	font-weight: bold;
	background-color: var(--background-button);
	color: var(--background-card);
	height: 42px;
}

#create-user-button:hover {
	background-color: var(--button-hover);
}

/* Style pour les champs du formulaire */
#section-create-user .creation-form input[type="text"],
#section-create-user .creation-form input[type="email"] {
	width: 60%;
	padding: 10px;
	border: 1px solid var(--writing-medium);
	border-radius: 8px;
	background-color: var(--background-form);
	font-family: 'Lexend', sans-serif;
	color: var(--writing-dark);
	font-size: 1em;
	box-sizing: border-box;
	height: 42px;
}

/* Style pour la croix pour effacer l'input */
#section-create-user .clear-input-button {
	position: absolute;
	top: 15px;
	right: 8px;
	transform: translateY(-50%);
	color: var(--writing-medium);
	cursor: pointer;
	font-size: 1.2em;
	display: none;
	z-index: 10;
}

#section-create-user .creation-field .clear-input-button {
	right: 135px;
}


/* ##### Code responsive ##### */
@media (max-width: 768px) {
	#section-create-user .create-user-container {
		width: 100%;
		padding: 15px;
		margin: 15px auto;
	}
	#section-create-user .creation-form input[type="text"],
	#section-create-user .creation-form input[type="email"] {
		width: 100%;
	}
	#create-user-button {
		width: 100%;
	}
	#section-create-user .creation-field .clear-input-button {
		right: 10px;
	}
}
