/* Style pour le contenu du main */
.main-content {
	padding: 20px;
}

/* Style pour le conteneur */
.opening-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	margin: 0 auto;
	margin-top: 30px;
}

/* Style pour les cadres */
.opening-box {
	display: flex;
	flex-direction: column;
	background-color: var(--background-card);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour le titre des cadres */
.opening-box h3 {
	text-align: center;
	margin-bottom: 0;
	padding: 10px;
}

/* Style pour le contenu des cadres */
.opening-box p {
	font-family: 'Lexend', sans-serif;
	line-height: 1.6;
	text-align: justify;
	color: var(--writing-medium);
}

.location i, .phone i {
	color: var(--icon-color);
	padding: 0 5px
}

/* Style pour le conteneur d'info */
.red-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	background-color: var(--background-card);
	border-radius: 10px;
	margin-top: auto;
}

/* Style pour le contenu du cadre d'info */
.red-info p {
	font-size: 1em;
	font-weight: 700;
	color: red;
}

/* Style pour le cadre de la carte */
.map-container {
	background-color: var(--background-card);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
}

/* Style pour la carte */
#leaflet-map {
	display: block;
	width: 100%;
	height: 300px;
	border-radius: 5px;
}


/* ##### Code responsive ##### */
/* Style pour les écrans plus petits que 768px */
@media (max-width: 768px) {
	.opening-container {
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 20px;
	}
	.opening-box {
		padding: 15px;
	}
	.opening-box h3 {
		font-size: 1.2em;
	}
	.map-container {
		padding: 10px;
		margin-top: 20px;
	}
	#leaflet-map {
		height: 250px;
	}
}
