<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mots pour maux LM - Inscription</title>

	<!-- Liens pour les fichiers CSS -->
	<link rel="stylesheet" href="/static/css_files/styles.css">
	<link rel="stylesheet" href="/static/css_files/page_inscription.css">
	<!-- Liens pour le favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/images/favicon/site.webmanifest">
	<!-- Liens pour Google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Signika:wght@300..700&display=swap" rel="stylesheet">
	<!-- Lien pour l'icone de croix -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    	<header class="header">
			<div class="logo-container">
        		<img class="logo" src="/static/images/Logo Clair.png" alt="Mots pour maux LM logo">
			</div>
			<div class="nav-container">
        		<nav id="nav-links" role="navigation" aria-label="Menu principal">
					<a href="/accueil" id="accueil_link">Accueil</a>
					<a href="/en-savoir-plus" id="en_savoir_plus_link">En Savoir Plus</a>
            		<a href="/techniques" id="techniques_link">Techniques<br>Thérapeutiques</a>
					<a href="/prestations" id="prestations_link">Prestations<br>& Tarifs</a>
					<a href="/coordonnees" id="coordonnees_link">Coordonnées<br>& Horaires</a>
					<a href="/avis" id="avis_link">Avis</a>
                    <a href="/mon-espace" id="espace_link" style="display: none;">Mon espace</a>
					<a href="/login" id="login_link">Connexion</a>
                    <a href="#" id="logout_link" style="display: none;">Déconnexion</a>
        		</nav>
			</div>
    	</header>

    	<main>
			<div class="hero-box"><p>Page d'inscription</p></div>
			<hr class="line">
			<section class="registration-container">
				<form class="registration-form" action="/register" method="post">
					<div class="form-field">
						<input type="text" id="last-name" name="last-name" placeholder="Nom" aria-label="Nom" required>
						<i class="bx bx-x clear-input-button"></i>
						<!-- <span class="icon" id="last-name-icon"></span> -->
					</div>
					<div class="form-field">
						<input type="text" id="first-name" name="first-name" placeholder="Prénom" aria-label="Prénom" required>
						<i class="bx bx-x clear-input-button"></i>
						<!-- <span class="icon" id="first-name-icon"></span> -->
					</div>
					<div class="form-field">
						<input type="email" id="email" name="email" placeholder="Email" aria-label="Adresse email" required>
						<i class="bx bx-x clear-input-button"></i>
						<!-- <span class="icon" id="email-icon"></span> -->
					</div>
					<div class="form-field">
						<input type="password" id="password" name="password" placeholder="Mot de passe" aria-label="Mot de passe" required>
						<i class="bx bx-x clear-input-button"></i>
						<!-- <span class="icon" id="password-icon"></span> -->
					</div>
					<div class="password-requirements">
						<p>Au moins 8 caractères, 1 majuscule, 1 chiffre, 1 caractère spécial</p>
					</div>
					<button type="submit" aria-label="Créer votre compte">S'inscrire</button>
				</form>
			</section>
    	</main>

		<div id="feedback-message" class="feedback-message" role="alert" aria-live="assertive" style="display: none;"></div>

		<!-- Liens pour les fichiers JS -->
        <script src="/static/js_files/page_inscription.js"></script>
		<!-- <script src="../static/js_files/login.js"></script> -->

		<hr class="line">
    	<footer class="footer">
        	<p>© 2023 Mots pour maux LM - Mélanie Laborda. Tous droits réservés<br>Psychothérapeute & Hypnothérapeute - SIRET: 93841610400017</p>
    	</footer>

</body>
</html>